@model IEnumerable<Exercise>

@{
    ViewData["Title"] = "База задач";
}

<div class="text-center">
    <h1 class="display-4">База задач</h1>
    <p>Список задач</p>
</div>

<div class="container">
    <div class="text-right">
        <a asp-action="Upsert" class="btn btn-primary">
            Добавить задачу
        </a>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Задача</th>
                    <th>Предмет</th>
                    <th>Дедлайн</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Subject.SubjectName</td>
                        <td>@item.Deadline</td>
                        <td>
                            <a asp-route-Id="@item.Id" asp-action="Upsert" class="btn btn-primary">
                                Обновить
                            </a>
                            <a asp-route-Id="@item.Id" asp-action="Delete" class="btn btn-dark">
                                Удалить
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> Список задач пуст. </p>
    }
</div>

