@using System.Globalization
@model SheinMagistracy.Models.Exercise

@{
    ViewData["Title"] = "Home Page";
    DateTime myDateTime = DateTime.Now;
    DateTime firstDayOfStudy = new DateTime(2024, 2, 12);
    int weekNumber = (myDateTime.DayOfYear - firstDayOfStudy.AddDays(-1).DayOfYear) / 7;
    string week = weekNumber % 2 == 0 ? "Верхняя" : "Нижняя";
    var currentWeek = firstDayOfStudy.AddDays(weekNumber * 7);
}

<div class="text-center">
    <h1 class="display-4">Привет!</h1>
    <h4>Неделя @currentWeek.ToString("dd.MM") - @currentWeek.AddDays(6).ToString("dd.MM")  @week</h4>

    <table class="table" width="100%">
        <thead>
            <tr>
                <th>Предмет</th>
                <th>Пометка</th>
            </tr>
        </thead>
        <tbody>
            @if(week == "Верхняя")
            {
                <tr>
                    <td>Понедельник - МСРПО</td>
                    <td>С 16:20, B-315</td>
                </tr>
                <tr>
                    <td>Вторник - УЧР</td>
                    <td>С 16:20, B-315</td>
                </tr>
                <tr>
                    <td>Четверг - АА</td>
                    <td>С 16:20</td>
                </tr>
                <tr>
                    <td>Пятница - ОСиО</td>
                    <td>Больше нет</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>Понедельник - МКПО</td>
                    <td>С 16:20, B-311</td>
                </tr>
                <tr>
                    <td>Вторник - УП</td>
                    <td>Пока не проводится</td>
                </tr>
                <tr>
                    <td>Четверг - ПАД</td>
                    <td>С 16:20</td>
                </tr>
                <tr>
                    <td>Пятница - ОСиО</td>
                    <td>Больше нет</td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Ближайшее задание (на @CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetDayName(Model.Deadline.DayOfWeek))</h4>
    <div class="card mb-3">
        <img src="@WC.ImagePath@Model.Image" class="card-img-top mx-auto" style="max-width: 50%;" alt="default-image" onerror="this.onerror = null; this.src = '/images/work.png'">
        <div class="card-body">
            <h5 class="card-title">@Model.Subject.SubjectName</h5>
            <p class="card-text">@Model.Name</p>
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
</div>
